*{
  color: grey;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgb(174, 55, 118),rgb(17, 181, 240));
}
.icons {
  display: flex;
  justify-content: space-around;

  width: 50%;
  gap: 5px;
}

.icons img {
  width: 40px; 
  height: 40px;
}
.message{
  background-color: rgb(124, 33, 209);
  color: white;
  padding-right: 3rem;
  padding-left: 3rem;
   width: 10rem;
   height: 3rem;
   border-radius: 10px;
   margin-left: -20px;
   margin-right: 60px;
}

.follow{
  background-color: #4caf50;
  color: white;
  padding-right: 3rem;
 padding-left: 3rem;
 width: 10rem;
 height: 3rem;
 border-radius: 10px;
}

.container {
  position: absolute;
  height: 70%;
  width: 65%;
  margin: 5rem 5rem;
  background-color: whitesmoke;
  border-radius: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 20px;
  padding: 80px 20px 20px;
  box-sizing: border-box;
}

.profile {
  top: -60px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: auto;
}

.name {
  color: white;
  font-size: 1.2rem;
  margin-top: 50px; 
  font-weight: bold;
}

.count {
  display: flex;
  justify-content: space-evenly;
  font-weight: 700;
  width: 100%;
  color: grey;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  
}



